<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="quadro_ros2_control" params="name prefix">

<ros2_control name="quadruped_robot" type="system">
    <hardware>
        <plugin>gz_ros2_control/GazeboSimSystem</plugin>
    </hardware>
    
    <joint name="rear_right_joint_1">
        <command_interface name="position">
            <!-- <param name="min">-0.349066</param> -->
            <!-- <param name="max">0.349066</param> -->
            <initial_value>0.062832</initial_value>
        </command_interface>

        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
        
    </joint>
    
    <joint name="rear_right_joint_2">
        <command_interface name="position">
            <!-- <param name="min">-0.349066</param> -->
            <!-- <param name="max">0.349066</param> -->
            
        </command_interface>

        <state_interface name="position">
            <initial_value>-0.753982</initial_value>
        </state_interface>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
    </joint>
    
    <joint name="rear_right_joint_3">
        <command_interface name="position">
            <!-- <param name="min">-0.349066</param> -->
            <!-- <param name="max">0.349066</param> -->
            
        </command_interface>
 
        <state_interface name="position">
            <initial_value>0.753982</initial_value>
        </state_interface>

        <state_interface name="velocity"/>
        <state_interface name="effort"/>
        <!-- <param name="min">-0.349066</param> -->
        <!-- <param name="max">0.349066</param> -->
    </joint>
    
    <joint name="rear_left_joint_1">
        <command_interface name="position">
            <!-- <param name="min">-0.349066</param> -->
            <!-- <param name="max">0.349066</param> -->
        </command_interface>

        <state_interface name="position">
            <initial_value>-0.125664</initial_value>
        </state_interface>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
    </joint>
    
    <joint name="rear_left_joint_2">
        <command_interface name="position">
            <!-- <param name="min">-0.349066</param> -->
            <!-- <param name="max">0.349066</param> -->
        </command_interface>

        <state_interface name="position">
            <initial_value>0.565487</initial_value>
        </state_interface>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
    </joint>


    
    <joint name="rear_left_joint_3">
        <command_interface name="position">
            <!-- <param name="min">-0.349066</param> -->
            <!-- <param name="max">0.349066</param> -->
        </command_interface>

        <state_interface name="position">
            <initial_value>-1.193805</initial_value>
        </state_interface>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
    </joint>
    
    <joint name="front_right_joint_1">
        <command_interface name="position">
            <!-- <param name="min">-0.349066</param> -->
            <!-- <param name="max">0.349066</param> -->
        </command_interface>

        <state_interface name="position">
            <initial_value>-0.125664</initial_value>
        </state_interface>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
        <!-- <param name="min">-0.349066</param> -->
        <!-- <param name="max">0.349066</param> -->
    </joint>
    
    <joint name="front_right_joint_2">
        <command_interface name="position">
            <!-- <param name="min"/>-0.349066</param> -->
            <!-- <param name="max"/>0.349066</param> -->
        </command_interface>

        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
    </joint>
    
    <joint name="front_right_joint_3">
        <command_interface name="position">
            <!-- <param name="min">-0/.349066</param> -->
            <!-- <param name="max">0./349066</param> -->
        </command_interface>
       
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
    </joint>
    
    <joint name="front_left_joint_1">
        <command_interface name="position">
            <!-- <param name="min">-0.349066</param> -->
            <!-- <param name="max">0.349066</param> -->
        </command_interface>
       
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
    </joint>
    
    <joint name="front_left_joint_2">
        <command_interface name="position">
            <!-- <param name="min">-0.349066</param> -->
            <!-- <param name="max">0.349066</param> -->
        </command_interface>
       
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
    </joint>
    
    <joint name="front_left_joint_3">
        <command_interface name="position">
            <!-- <param name="min">-0.349066</param> -->
            <!-- <param name="max">0.349066</param> -->
        </command_interface>
      
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
    </joint>
</ros2_control>

  </xacro:macro>

</robot>
